---
---

@import "{{ site.theme }}";

header div.img-circle {
  background: url(/images/NW7RA-logo-dark-text.png) no-repeat;
  background-size: 45vh;
  height: 45vh;
}

@media screen and (prefers-color-scheme: dark) {
  header div.img-circle {
    background: url(/images/NW7RA-logo-light-text.png) no-repeat;
  }
}
